<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3d648b39-911e-484c-99da-b33f5982da8c" name="Project 1 TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3d648b39-911e-484c-99da-b33f5982da8cfileName">Project-1-TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
